{% extends 'base.html' %}

{% load render_partial %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="d-flex">
        <div class="col-9 ">
            {% if request.user.avatar %}
                <img src="{{ request.user.avatar.url }}" alt="" style="width: 500px">
            {% else %}
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                     class="w-50" alt="">
            {% endif %}
            <h3>{{ request.user.email }}</h3>
            <h3>date joined : {{ request.user.date_joined|date:"d M Y" }}</h3>
        </div>


        {% render_partial 'accounts.views.UserPanelMenuView' %}

    </div>

{% endblock %}