{% extends 'base.html' %}

{% block title %}
    login
{% endblock %}

{% block content %}
    <form method="post" class="login">
        {% csrf_token %}
        <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" name="email" class="login__input" placeholder="Email">
        </div>
        {{ login_form.email.errors }}
        <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" name="password" class="login__input" placeholder="Password">
        </div>
        {{ login_form.password.errors }}
        <button type="submit" class="button login__submit">
            login
        </button>

    </form>
{% endblock %}