<nav>
    <div class="d-flex justify-content-center align-items-center">
        <ul class="d-flex justify-content-center align-items-center">
            <p class="p-3"><a href="{% url 'accounts:home' %}">home</a></p>
            <p class="p-3">
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'accounts:sign_up' %}">sign up</a>

                {% endif %}
            </p>
            <p class="p-3">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'accounts:logout' %}">logout</a>
                {% else %}
                    <a href="{% url 'accounts:login' %}">login</a>
                {% endif %}
            </p>
        </ul>
    </div>
</nav>