<nav class="d-flex justify-content-center bg-dark mb-3">
    <div class="d-flex justify-content-right align-items-center">
        <ul class="d-flex justify-content-center align-items-center">
            <p class="p-3 text-white"><a class="text-white " href="{% url 'home:home_page' %}">Home</a></p>

        </ul>
    </div>

    <div class="d-flex justify-content-left align-items-center">
        <ul class="d-flex justify-content-center align-items-center">

            {% if not request.user.is_authenticated %}
                <p class="p-3 text-white"><a class="text-white" href="{% url 'accounts:sign_up' %}">sign up</a> /</p>
                <p class="p-3 text-white"><a class="text-white" href="{% url 'accounts:login' %}">login</a></p>

            {% else %}
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="img" class="rounded-circle" style="width: 50px">
                {% else %}
                    <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png"
                         alt="img" class="rounded-circle" style="width: 50px">
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ request.user.email }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'accounts:password_change' %}">change password</a>
                        <a class="dropdown-item" href="#">your profile</a>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">sign out</a>
                    </div>
                </li>

            {% endif %}


        </ul>
    </div>
</nav>