{% extends 'base.html' %}
{% load static %}

{% block title %}
    login
{% endblock %}

{% block refrences %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-box">
            <p class="imp">hello world</p>
            <form method="post" class="login">
                {% csrf_token %}
                {{ login_form.email.label }}
                {{ login_form.email }}
                {{ login_form.email.errors }}
                {{ login_form.password.label }}
                {{ login_form.password }}
                {{ login_form.password.errors }}
                <hr>
                <button type="submit" class="btn btn-primary login__submit">
                    login
                </button>

            </form>
            <a href={% url 'accounts:password_reset' %}>forget password ?</a>
            <a href={% url 'accounts:password_change' %}>change password ?</a>
        </div>
    </div>
{% endblock %}